@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: var(--primary-background-color);
  color: var(--white-color);
}

html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #ffffff;
  --black-color: #202020;
  --black-soft-color: rgba(75, 75, 75, 0.63);
  --primary-color: #DAA520;
  --secondary-color: #6c757d;
  --primary-background-color: #D7BF66;
  --shiny-yellow-leaf-gold-foil-texture-1: #F2C744;
  --shiny-yellow-leaf-gold-foil-texture-2: #f0bf63;
  --shiny-yellow-leaf-gold-foil-texture-3: #8C5511;
  --shiny-yellow-leaf-gold-foil-texture-4: #BF8034;
  --shiny-yellow-leaf-gold-foil-texture-5: #733B0A;
  --shiny-yellow-leaf-gold-foil-texture-6: #F5BD3F;
  --shiny-yellow-leaf-gold-foil-texture-7: #F4D99B;
  --shiny-yellow-leaf-gold-foil-texture-8: #FCE0A1;
  --shiny-yellow-leaf-gold-foil-texture-9: #F6E7C3;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--primary-background-color);
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--shiny-yellow-leaf-gold-foil-texture-2);
}

::-webkit-scrollbar-track {
  background: var(--black-soft-color);
}

@media (prefers-color-scheme: light), (prefers-color-scheme: dark) {
  body {
    background-color: var(--black-color);
    color: white;
  }
}


@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .btn-primary {
    @apply py-[0.5vw] px-[1.1vw] rounded-[0.5vw] cursor-pointer border border-primaryBackground bg-primaryBackground text-white transition-all duration-300 ease-in-out;
  }

  .btn-secondary {
    @apply font-merriweather py-[0.5vw] px-[1.1vw] rounded-[0.5vw] cursor-pointer border border-primaryBackground bg-blackSoft text-white transition-all duration-300 ease-in-out;
  }

  .btn-primary:hover {
    @apply bg-blackSoft;
  }

  .btn-primary.active {
    @apply bg-blackSoft;
  }

  .btn-secondary:hover {
    @apply bg-primaryBackground;
  }

  .nav-link {
    @apply text-white transition-all duration-300 ease-in-out hover:text-primaryColor;
  }

  .nav-link.active {
    @apply text-primaryColor font-bold;
  }

  .nav-link-responsive {
    @apply flex items-center w-full cursor-pointer text-white relative transition-all duration-300 ease-in-out hover:text-primaryColor;
  }

  .nav-link-responsive:hover .nav-link {
    @apply text-primaryColor;
  }

  .nav-link-responsive::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-background-color);
    transition: width 0.3s ease-in-out;
  }

  .nav-link-responsive:hover::after {
    width: 100%;
  }

  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .row {
    @apply flex flex-wrap -mx-4;
  }

  .col-lg-12 {
    @apply w-full px-4;
  }

  .navbar-active {
    @apply bg-blackSoft shadow-md;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-list li {
  background: url(/check-mark.svg) no-repeat left center;
  background-size: 2vw 2vw;
  padding-left: 2.5vw;
  line-height: 2vw;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-background-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-background-color) !important;
}

.testimonial-swiper .swiper-slide {
  height: auto !important;
}

.testimonial-swiper {
  padding-bottom: 8vw !important;
}

.swiper-pagination-bullet {
  width: 2vw !important;
  height: 2vw !important;
}

@media only screen and (min-width: 1280px) {
  .swiper-pagination-bullet {
    width: .8vw !important;
    height: .8vw !important;
  }
  .testimonial-swiper {
    padding-bottom: 5vw !important;
  }  
}

@media only screen and (min-width: 1024px) {
  .swiper-pagination-bullet {
    width: 1vw !important;
    height: 1vw !important;
  }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .custom-list {
      font-size: 2vw;
      text-align: left;
  }
  .custom-list li {
    line-height: 3vw;
    background-size: 2.5vw 2.5vw;
    padding-left: 3.5vw;
  }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
  .custom-list {
      font-size: 4vw;
  }

  .custom-list li {
      line-height: 5vw;
      background-size: 4vw 4vw;
      padding-left: 5vw;
  }
}

@keyframes rainEffect {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

@keyframes moveRight {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(5px);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-moveRight {
  animation: moveRight 1s infinite ease-in-out;
}

@keyframes moveLeft {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-5px);
  }
  100% {
      transform: translateX(0);
  }
}

.animate-moveLeft {
  animation: moveLeft 1s infinite ease-in-out;
}

@keyframes moveUp {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
  100% {
      transform: translateY(0);
  }
}

.animate-moveUp {
  animation: moveUp 1s infinite ease-in-out;
}

@keyframes moveDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(5px);
  }
  100% {
      transform: translateY(0);
  }
}

.animate-moveDown {
  animation: moveDown 1s infinite ease-in-out;
}